#header {
	margin-top:10px;
	margin-bottom: 50px;
}
.jumbotron {
	background-color: #668284;
	color: #ffffff;
}
#email {
	float:right;
	margin-right: 5px;
	color: #ffffff;
}
h4 {
	font-weight: bold;
}
h6 {
	font-weight: bold;
}
.row{
	margin-top: 50px;
	margin-bottom: 10px;
}
#footer {
	position: relative;
	height: 50px;
	background-color: #668284;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}
#footer p {
	padding-top: 15px;
}
